@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'JetBrains Mono', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* used for hide the horizontal scrollbar (the scrollbar is due to the five images in /home) */
  overflow-x: hidden;
}

code {
  font-family: 'JetBrains Mono', 'SFMono-Regular', Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.element-border {
  @apply ring-1 ring-zinc-100 dark:ring-zinc-300/20;
}

.element-border-hover:hover {
  @apply hover:ring-white/20;
}

.scotch-effect {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.dark {
  @apply bg-gray-800 text-zinc-50;
}
img,
h1 {
  user-select: none;
}
